html {
  background-image: url("https://media.giphy.com/media/ZrlFjwhclknWE/giphy.gif");
}

#container {
  padding-top: 6em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
